#Raw files that weight too much to be uploaded to GitHub
data/chugchug_raw
data/lluta_raw
data/unita_raw
data/salvador_raw
data/granllama_raw

data/chugchug_polygons
data/lluta_polygons
data/unita_polygons

#Python cache files
__pycache__/
*.pyc
.ipynb_checkpoints/
*.zip