#Raw files that weight too much to be uploaded to GitHub
data/chugchug_raw
data/lluta_raw
data/unita_raw
data/salvador_raw
data/granllama_raw

data/chugchug_polygons
data/lluta_polygons
data/unita_polygons

data/unita_resized
data/chugchug_resized
data/lluta_resized

data/unita_crops
data/chugchug_crops
data/lluta_crops

data/polygon_data

#Python cache files
__pycache__/
*.pyc
.ipynb_checkpoints/
*.zip